<h1><%= @workout.name %></h1>
<p>Completed on: <%= @workout.completed_on %></p>

<h2>Add Exercise</h1>
<form action="/add_exercise" method="post">
  <input type="hidden" name="param_workout_id" id="workout_id" value="<%= @workout.id %>">
  
  <label for="exercise">Select an exercise:</label>
  <select name="param_movement_id" id="movement_id">
    <% Movement.all.each do |movement| %>
      <option value="<%= movement.id %>"><%= movement.name %></option>
    <% end %>
  </select>

  <div>
    <label for="weight">Weight (lbs)</label>
    <input type="number" name="param_weight" id="weight">
  </div>

  <div>
    <label for="reps">Reps</label>
    <input type="number" name="param_reps" id="reps">
  </div>

  <div>
    <label for="set">Set number</label>
    <input type="number" name="param_set" id="set">
  </div>

  <div>
    <label for="notes">Notes</label>
    <input type="text" name="param_notes" id="notes">
  </div>

  <button type="submit">Add Exercise</button>
</form>

<h2>Exercises</h2>
<% @exercises_in_workout.each do |exercise| %>
  <p><%= exercise %>
  <table border="1px solid black">
    <tr>
      <th>Set</th>
      <th>Weight (lbs)</th>
      <th>Reps</th>
      <th>Volume (lbs)</th>
    </tr>

    <% Exercise.where({ :movement_id => exercise }).each do |set| %>
    <tr>
      <td><%= set.set %></td>
      <td><%= set.weight %></td>
      <td><%= set.reps %></td>
      <td><%= set.volume %></td>
      <td><a href="/delete_exercise/<%= set.id %>">Delete</a></td>
    </tr>
    <% end %>
  </table>
    
  </ol>
<% end %>

<h2>Volume</h2>

<% @exercises_in_workout.each do |exercise| %>
  <p><%= exercise %></p>
  <ul>
   <li>Volume today: <%= Exercise.where({ :movement_id => exercise }).sum(:volume) %></p></li>
   <li>Volume last time (date): </li>
  </ul>
<% end %>
